body {
    background-color: rgb(29, 32, 36);
}

.page-content {
    background-color: rgb(37, 44, 48);
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    color: white;
    overflow-y: scroll;
    min-width: 500px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
}

.root {
    min-width: 400px !important;
}

hr {
    background-color: rgb(82, 82, 82);
    color: #25c025;
}

.content-header {
    margin-top: 16px;
}

.server-link {
    color: white;
    text-decoration: none;
}

.server-link:hover {
    color: white;
    text-decoration: none;
}